mosaic_dev/
site/
mockup-2026-06-19/
mockup-2026-06-19-*.html
reports/Report_USA.pdf
reports/Report_Europe.pdf
reports/Report_Italy.pdf
*.gsheet
*.log
__pycache__/
*.pyc
reports_html/**/assets/_annotation_backup/
Welcome letter.txt
medium-*
